<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./styles/styles.css" />
</head>
<body>
    <nav id="nav-bar">
        <img id="logo" src="./images/logo.png" alt="Logo" />
        <a class="nav-bar-link" href="/home">HOME</a>
        <a class="nav-bar-link" href="/works">WORKS</a>
        <a class="nav-bar-link" href="/gallery">GALLERY</a>
      </nav>

      <div id="about-content">
        <h1>ABOUT ME</h1>

        <img src="./images/sleepycalifa.jpeg" alt="Sleepy Califa">
        <section>
            <article></article>
            <article></article>
        </section>

      </div>


    
</body>
</html>