<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>
  <body>
    <nav id="nav-bar">
      <div id="nav-bar-links">
        <img id="logo" src="./images/logo.png" alt="Logo" />
        <a class="nav-bar-link" href="/home">HOME</a>
        <a class="nav-bar-link" href="/works">WORKS</a>
        <a class="nav-bar-link" href="/gallery">GALLERY</a>
      </div>
    </nav>

    <div id="about-content">
      <h1>ABOUT US</h1>
      <div id="about-images">
        <img src="./images/sleepycalifa.jpeg" alt="Sleepy Califa" />
        <img src="./images/sleepywanda.jpeg" alt="Sleepy Wanda" />
      </div>
      <section id="about-lists">
        <article class="likes">
          <h3>Things we like</h3>
          <ul>
            <li>Sleep the whole day</li>
            <li>Eat everything</li>
            <li>Jump into my owner's bed</li>
            <li>Play when it's not allowed</li>
          </ul>
        </article>

        <article class="likes">
          <h3>Things we don't like</h3>
          <ul>
            <li>Being alone at home</li>
            <li>Fireworks</li>
            <li>Closed doors</li>
            <li>Water in general</li>
          </ul>
        </article>
      </section>
    </div>
  </body>
</html>
