<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>
  <body>
    <nav id="nav-bar">
      <div id="nav-bar-links">
        <img id="logo" src="./images/logo.png" alt="Logo" />
        <a class="nav-bar-link" href="/home">HOME</a>
        <a class="nav-bar-link" href="/about">ABOUT</a>
        <a class="nav-bar-link" href="/works">WORKS</a>
      </div>
    </nav>
    <div id="gallery-content">
      <h1>Our pictures</h1>

      <p>
        Here you can see some of our best pictures, it's not a secret that we
        love sleeping...
      </p>
    </div>
  </body>
</html>
