<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="./styles/styles.css" />
</head>
<body>

    <nav id="nav-bar">
        <img id="logo" src="./images/logo.png" alt="Logo" />
        <a class="nav-bar-link" href="/home">HOME</a>
        <a class="nav-bar-link" href="/about">ABOUT</a>
        <a class="nav-bar-link" href="/works">WORKS</a>
        
      </nav>

    
</body>
</html>