<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>
  <body>
    <nav id="nav-bar">
      <div id="nav-bar-links">
      <img id="logo" src="./images/logo.png" alt="Logo" />
      <a class="nav-bar-link" href="/about">ABOUT</a>
      <a class="nav-bar-link" href="/works">WORKS</a>
      <a class="nav-bar-link" href="/gallery">GALLERY</a>
    </div>
    </nav>
    <div id="home-content">
      <h1>Welcome to our page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
        reprehenderit beatae maiores nemo tenetur voluptates, consequatur
        expedita eveniet veniam deserunt reiciendis pariatur ipsa, culpa,
        eligendi atque hic ratione magni placeat.
      </p>
    </div>
  </body>
</html>
