body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#nav-bar {

    background-color: #BADEDE;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:fantasy;

}

h1 {
    font-family:fantasy;
}

#logo {
    height: 50px;
}

.nav-bar-link{
    text-decoration: none;
    font-weight: 100;
    color: black;
}

#nav-bar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

#home-content{
    background-color: #EBBFB6;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

#about-content{
    background-color: #EBBFB6;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#gallery-content{
    background-color: #EBBFB6;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

#works-content{
    background-color: #EBBFB6;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

#home-content p{
    width:400px;
    background-color: #BADEDE;
    border-radius: 10px;
    padding:20px;
}

#about-content img{
    height: 250px;
    width:250px;
    margin:30px
}

#about-images{
    display:flex;
    flex-direction: row;
    
}

#about-lists{
    display:flex;
    
}

.likes{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    align-content: space-between;
    justify-content: center;
    margin:30px;
}

.likes li{
    list-style:square;
    margin-left:-40px;
    margin-bottom:10px;
}

#works-content img {
    width:400px;
}