body {
    margin: 0;
}

#nav-bar {

    background-color: #BADEDE;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    height: 50px;
}

.nav-bar-link{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

#nav-bar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

#home-content{
    background-color: indianred;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

#home-content p{
    width:400px;
    background-color: #BADEDE;
    border-radius: 10px;
    padding:20px;
}

#about-content img{
    height: 400px;

}